
.plane-title
    font-weight: 700
    font-size: 48px
    color: #282828
    line-height: 65px
    text-align: center
    margin-top: 100px
.plane-group
    margin-top: 100px
    padding: 0px 30px
    // display: grid
    // grid-template-columns: 1fr 1fr
    // grid-gap: 20px
    // overflow: hidden
// .plane-img
//     align-items: center
.plane-item__box
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 60px