
*
    box-sizing: border-box

    &::before, &::after
        box-sizing: border-box

.wrapper
    width: 100%
    position: relative
    // width: 1920px
    min-height: 100%
    // overflow: hidden


.container
    margin: 0 auto
    max-width: 1611px


html, body
    width: 100%
    height: 100%
    margin: 0
    padding: 0


body 
    min-width: 411px
    font-family: "Open Sans"