@import './../mixins/_Mixins';

    
.footer
    background: #357ECB
    margin-top: 80px

.footer-group
    display: grid
    grid-template-columns: 480px 1fr 1fr 390px
    align-items: center


.hours
    margin-left: 60px
    font-family: 'Roboto Condensed'
    font-weight: 400
    font-size: 18px
    color: #FFFFFF

.footer-text
    font-family: 'Roboto Condensed'
    font-weight: 700
    font-size: 20px
    color: #FFFFFF
    line-height: 23px
.foot-adress-flag

.adress
    font-family: 'Roboto Condensed'
    font-weight: 400
    font-size: 18px
    color: #FFFFFF
    text-decoration: none
    margin-left: 7px
    line-height: 21px
.foot-adress
    display: flex
    align-items: center

    margin-bottom: 20px

.social-img

.social-title
    font-family: 'Roboto Condensed'
    font-weight: 400
    font-size: 18px
    color: #FFFFFF
    line-height: 21px
    margin-left: 10px

.social__group
    display: flex
    // justify-content: space-around
.working
    display: flex

.social-right
    padding: 12px 0px 0px
.social-img
    width: 37px
    margin-left: 20px
.social-img:first-child
    margin-left: 0


.footer-text--decor
        font-family: 'Roboto Condensed'
        font-weight: 700
        font-size: 20px
        color: #FFFFFF
        text-decoration: none
.social-decor
    margin-left: 5px
  
.footer-grid__item
    padding: 0px 7px 0px 10px
