
.footer
    background: #357ECB
    margin-top: 80px

.footer-menu
    display: grid
    grid-template-columns: 511px 1fr 1fr 400px

.footer-grid__item-info
    margin-top: 35px

.footer-text
    font-family: 'Roboto Condensed'
    font-weight: 700
    font-size: 20px
    color: #FFFFFF
.foot-adress
    display: flex
    aligh-items: center
    margin-bottom: 15px
.adress
    font-family: 'Roboto Condensed'
    font-weight: 400
    font-size: 18px
    color: #FFFFFF
    text-decoration: none
    margin-left: 7px

.social-title
    font-family: 'Roboto Condensed'
    font-weight: 400
    font-size: 18px
    color: #FFFFFF
    line-height: 21px
    text-align: center
    margin-top: 108px
.social__group
    margin-top: 24px
    text-align: center

.social-img
    margin-left: 35px

.working
    display: flex
    aligh-items: center
    margin-top: 25px
    margin-left: 40px
.adress-hours
    margin-left: 140px

.footer-text--decor
    font-family: 'Roboto Condensed'
    font-weight: 700
    font-size: 20px
    color: #FFFFFF
    text-decoration: none
.foot-decor
    // position: relative
    margin-top: 108px
    // display: flex

.social-decor
    margin-left: 10px
