@import './../mixins/_Mixins'

.subnav__menu
    display: flex
    justify-content: space-between
    width: 100%
    background: #357ECB
    margin-bottom: 50px
    margin-top: 50px
    border: 2px solid #357ECB
    display: block
    +media_max(1326px)
        display: none
.subnav__link
    display: inline-block
    font-family: 'Roboto Condensed'
    font-weight: 400
    font-size: 18px
    color: #FFFFFF
    text-decoration: none
    padding: 20px 80px

.subnav__link.active
    background: #fff
    color: #357ECB
.subnav__link-decor
    padding: 20px 60px

