
@import './../mixins/_Mixins';

.history-group
    padding: 0px 52px 70px
        
.img-his__group
    padding: 0px 55px 55px
    +media_max(1578px)
        padding: 0px 15px 55px
.history-title
    font-weight: 700
    font-size: 48px
    line-height: 65px
    color: #282828
    text-align: center
    margin-top: 50px
    +media_max(1578px)
        font-size: 38px
    +media_max(849px)
        font-size: 24px
        line-height: 28px
    // +media(768px)
    //     font-size: 30px
    //     margin: 60px 0px
    // +media(1024px)
    //     margin: 80px 0px
    //     font-size: 48px
.history-img
    height: 674px
.his-banner
    object-fit: none
    max-width: 100%
    height: 100%
    position: relative
    margin: auto
    display: block
    text-align: center

.his-text
    font-weight: 600
    font-size: 18px
    line-height: 24px
    // font-size: 18px
    // line-height: 24px
    color: #282828
.img-list__box
    display: grid
    grid-template-columns: 1fr 1fr
    width: 100%
    text-align: center
    margin: 0 auto
    +media_max(1578px)
        grid-template-columns: 1fr

.img-his
    height: 540px
    margin-bottom: 40px
.img__decor
    object-fit: none
    max-width: 100%
    height: 100%
    position: relative
    // margin: auto
    display: block
    text-align: center
    +media_max(1578px)
        width: 100%


.history-img
    margin-bottom: 30px
.img-hisd
    margin-left: 26px
    +media_max(1578px)
        margin-left: 0px

.img-his-decor
    margin-top: 5px
.img-his-right
    // +media_max(1618px)
    // margin-top: 0px




