
@import './../mixins/_Mixins';

.history-group
    padding: 0px 120px
    margin-top: 70px
.img-his__group
    padding: 0px 120px
    margin-top: 50px
    margin-bottom: 50px
.history-title
    font-weight: 700
    font-size: 48px
    line-height: 65px
    color: #282828
    text-align: center
    margin-top: 70px

.history-img
    height: 674px
.his-banner
    object-fit: none
    max-width: 100%
    height: 100%
    position: relative

.his-text
    font-weight: 600
    font-size: 18px
    line-height: 24px
    color: #282828
    // margin-bottom: 50px

.img-list__box
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 20px
.img-his__item
    height: 540px
.img__his
    width: 650px
    object-fit: none
    // max-width: 100%
    height: 100%
    position: relative
.img__his-right
    margin-left: 20px


