
.header-banner
    max-width: 100%
.header-banner-news
    margin-bottom: 30px

.news-title
    font-weight: 700
    font-size: 48px
    color: #282828
    text-align: center
    margin-top: 57px

.road-img
    position: relative
    // width: 100%
    margin-top: 40px
    margin-bottom: 30p
    // width: 1386px
    margin-left: 108px
   
.news-slogan
    position: absolute
    top: 1350px
    right: 950px
    background: rgba(255, 255, 255, 0.6 )
    padding: 10px 35px
.mini__link
    font-family: 'Roboto Condensed'
    font-weight: 400
    color: #282828
    text-decoration: none
.news-decor
    font-weight: 700
    font-size: 28px
    color: #282828
    line-height: 54px
.news-decor
    margin: 0
.data-text
    font-weight: 700
    font-size: 18px
    color: #357ECB
    margin-left: 110px
.news-text 
    max-width: 1264px
    margin-bottom: 80px
    margin-left: 110px