

.header-banner
    position: relative


.header-banner
    margin-top: 25px
.banner__title
    position: absolute
    font-weight: 700
    font-size: 48px
    max-width: 398px
    line-height: 65px
    top: 60px
    right: 750px
    color: #FFFFFF

.banner-text
    max-width: 1300px
    line-height: 38px
    top: 200px
    right: 270px
    color: #FFFFFF
    position: absolute
    font-weight: 700
    font-size: 28px