@import './../mixins/_Mixins';

.header-banner

    position: relative
.banner-sign
    max-width: 100%

.img-box
    padding: 0px 
    height: 560px
.header-banner
    object-fit: none
    max-width: 100%
    height: 100%
    position: relative

.banner__title
    width: 100%
    height: 48px
    margin: auto
    text-align: center
    font-size: 48px
    position: absolute
    font-weight: 700
    line-height: 65px
    top: 82px
    color: #FFFFFF
    



.banner-text
    line-height: 38px
    top: 150px
    text-align: center
    color: #FFFFFF
    position: absolute
    font-weight: 700
    font-size: 28px
    padding: 0px 50px
    +media_max(1024px)
        font-size: 18px

        line-height: 25px
    +media_max(768px)
        top: 120px
        padding: 0px 15px
      