
@import './../../mixins/_Mixins';
.header-content
    display: flex
    align-items: center
    padding: 25px 0px  0px
    justify-content: space-between
    +media_max(1023px)
         padding: 10px 0px 5px
    +media_max(767px)
        padding: 7px 0px

.header__logo
    +media_max(1023px)
        width: 90px
        height: 55px
        margin-left: 10px
    +media_max(767px)
        width: 60px
        height: 46px

.header__title
    margin-left: 7px
.header__title-kg
    font-family: 'Roboto Condensed'
    font-weight: 700
    font-size: 14px
    line-height: 16px
    color: #357ECB
    // margin-left: 10px
    margin-top: 0
    // margin-right: 10px
    
.title-small
    color: #357ECB

.title-box-kg
    margin-left: 14px
    +media_max(1023px)
        display: none

.header__title-box
    font-family: 'Roboto Condensed'
    font-weight: 700
    font-size: 20px
    line-height: 23px
    color: #357ECB
    display: none
    margin-left: 19px
    max-width: 310px
    margin: auto
    +media_max(1023px)
        display: block
        // max-width: 712px
        // margin: 0 auto
        // text-align: center
        +media_max(823px)
            // width: 822px
            // height: auto

.burger__menu
    display: none
    right: 30px
    top: 11px
    position: absolute
    cursor: pointer
    width: 30px
    height: 30px
    +media_max(1023px)
        display: block

        

    



